body {
  background: #111;
  color: white;
  text-align: center;
  font-family: Arial;
}

.buttons button {
  padding: 12px 20px;
  margin: 10px;
  font-size: 16px;
  cursor: pointer;
}

#viewer {
  width: 600px;
  height: 400px;
  margin: auto;
}

#dataOutput {
  margin-top: 20px;
  font-size: 18px;
}
