body {
  text-align: center;
  font-family: Arial;
  background: #111;
  color: white;
}

.buttons button {
  margin: 10px;
  padding: 15px 25px;
  font-size: 16px;
}

#viewer {
  width: 600px;
  height: 400px;
  margin: auto;
}

#dataOutput {
  margin-top: 20px;
  font-size: 18px;
}
